table {
  border-collapse: collapse;
  width: 1300px;
  margin-top: 30px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
.info {
  display: flex;
  align-items: center;
}
.tableHeader {
  width: 100%;
  font-size: 14px;
  display: flex;

  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.025em;
  border-radius: 10px 10px 0px 0px;
  background-color: #f0f0f0;
}

tr {
  border-left: none;
  border-bottom: none;
  border-collapse: collapse;
  border-right: none;
}
th,
td {
  padding: 13px;
}

tbody {
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}
tr {
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}


.id {
  padding-left: 30px;
  width: 10%;
  text-align: left;
}

.name {
  width: 33%;
  text-align: left;
}
.data {
  width: 20%;
  text-align: left;
}
.group {
  width: 18%;
  text-align: left;
}
.login {
  width: 20%;
  text-align: left;
}
.number {
  width: 20%;
  text-align: left;
}
.actions {
  width: 7%;
  text-align: left;
}

.StudentId {
  width: 10%;
  text-align: center;
}

.StudentName {
  width: 33%;
  text-align: left;
}
.StudentData {
  width: 20%;
  text-align: left;
}
.StudentGroup {
  width: 18%;
  text-align: left;
}
.StudentLogin {
  width: 20%;
  text-align: left;
}
.StudentNumber {
  width: 20%;
  text-align: left;
}
.StudentActions {
  width: 7%;
  text-align: center;
}
.info p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.025em;
  text-align: left;
}
