.home {
    max-width: 1516px;
    width: 100%;
    margin: 40px auto;
}

.table, td{
    border-bottom: 1px solid blue;
    text-align: left;
}

td {
    padding: 13px 0px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid rgba(240, 240, 240, 1); */
    border: 1px solid blue;
    
}

.thead {
    /* background-color: #F9F8FA; */
    background-color: red;
}