/* Home.module.css */
.container {
  margin-top: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.heroInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.title {
  font-size: 70px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 12px;
}

.form {
  color: #ffffff;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 30px;
  font-weight: bold;
  padding-top: 6px;
}

.input {
  padding: 15px;
  border-radius: 50px;
  width: 500px;
  margin-top: 2px;
  outline: none;
  font-size: 18px;
  border: 1px solid black;
}

.button {
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  width: 150px;
  padding: 15px;
  border-radius: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: #546d97;
  color: black;
}
