.teacherInfoWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  width: 100%;
  padding: 10px;
}

.teacherGroups {
  width: 80%;
  border-collapse: collapse;
}

.teacherGroups th,
.teacherGroups td {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  font-weight: 600;
  text-align: left;
}
.tableBody tr:nth-child(even) {
  background-color: #f8f8f8;
}
.tableBody tr td:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.actionsWrapper {
  display: flex;
  gap: 5px;
}
.actionsWrapper img {
  cursor: pointer;
}

.teacherInfo {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}
